@media screen and (width <= 1024px) {
  .logo {
    width: 27.2vw !important;
    height: 6.4vw !important;
    margin-bottom: 3.2vw !important;
  }

  .name {
    font-size: 3.7vw !important;
    line-height: 4.1vw !important;
    margin-bottom: 3.2vw !important;
  }

  .qrcode_group {
    gap: 2.9vw !important;
    margin-bottom: 3.2vw !important;

    .qrcode_item {
      .qrcode_img {
        width: 21.3vw !important;
        height: 21.3vw !important;
        border-radius: 2.1vw !important;
        margin-bottom: 2.6vw !important;
      }

      .info {
        .wechat_icon {
          width: 3.2vw !important;
          height: 3.2vw !important;
          margin-right: 0.6vw !important;
        }

        .info_name {
          font-size: 3.2vw !important;
          line-height: 4.48vw !important;
        }
      }
    }
  }

  .brand_logo {
    width: 37.3vw !important;
    height: 3.2vw !important;
  }
}

// @media screen and (min-width: 1024px) and (max-width: 1440px) {}

.contact {
  .logo {
    width: 272.06px;
    height: 64px;
    margin-bottom: 30px;
  }

  .name {
    font-family: eryaxindahei;
    font-size: 32px;
    font-weight: 700;
    line-height: 35.2px;
    text-align: center;
    color: #060C2C;
    margin-bottom: 30px;
  }

  .qrcode_group {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 40px;

    .qrcode_item {
      .qrcode_img {
        width: 200px;
        height: 200px;
        border-radius: 16px;
        margin-bottom: 10px;
      }

      .info {
        display: flex;
        justify-content: center;
        align-items: center;

        .wechat_icon {
          margin-right: 10px;
        }

        .info_name {
          font-family: "Alibaba PuHuiTi" 2.0;
          font-size: 16px;
          font-weight: 700;
          line-height: 22.4px;
          color: #060C2C;
        }
      }
    }
  }

  .brand_logo {
    width: 280px;
    height: 24px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}
